body {
    background: url("pattern.png");
    font-family: 'Times New Roman', Times, serif;
}

.header {
    width: 100%;
}
ul{
    list-style-type: none;
}

.table {
    text-align: center;
}

table tr:nth-child(even){
    background: rgb(91, 101, 232);
}

.footer {
    width: 100%;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.logo_photo {
    border-radius: 50%;
    flex-basis: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.logo {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    gap:10%;
}
